[credential]
	helper = osxkeychain
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
[credential "https://git.rustunit.com"]
	provider = generic
[user]
	name = rusticorn
	email = mail@rusticorn.com
[push]
	autoSetupRemote = true
[pull]
	rebase = true
